<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><input type="checkbox" id="scales" name="scales"  <%=@task.completed ? "checked" : ""%>> Completed</p>
<%= link_to "edit", edit_path %></li>
<%= link_to "Back to list", tasks_path %></li>
